<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lec.mapper.UserMapper">
    <insert id="insert">
        insert into user(account, openid, phone, username, password)
        values (#{account}, #{openid},#{phone}, #{username}, #{password})
    </insert>

    <select id="getUserByAccount" resultType="com.lec.entity.User">
        select * from user where account = #{account}
    </select>
</mapper>
